EXPO_PUBLIC_AUTH_API_URL=http://YOUR_LAN_IP:5200
EXPO_PUBLIC_CORE_API_URL=http://YOUR_LAN_IP:5100
EXPO_PUBLIC_NOTIFICATIONS_API_URL=http://YOUR_LAN_IP:5300
EXPO_PUBLIC_EAS_PROJECT_ID=YOUR_EAS_PROJECT_ID
